<% provide(:title, "Hit "+@hit.id.to_s) %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>
        <%= @hit.id %>
      </h3>
    </section>
  </aside>
  <%= link_to @hit.audio_file, audio_path(@hit.audio_file) %>
  <br/>
  <a class="btn btn-small" href="<%= edit_hit_path(@hit) %>" style="margin-right: 10px; margin-top: -5px"><i class="icon-pencil"></i></a>
</div>

<section>
  <h3>Activity</h3>
<%# will_paginate @activities %>
<table>
  <% @activities.each do |activity| %>
  <%= render_activity(activity) %>
  <% end %>
</table>
<%# will_paginate @activities %>
</section>
