<% provide(:title, 'User ' + @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>
        <%= @user.name %>
      </h3>
      <%= will_paginate @activities %>
      <table>
        <% @activities.each do |activity| %>
        <%= render_activity(activity) %>
        <% end %>
      </table>
      <%= will_paginate @activities %>
    </section>
  </aside>
</div>
