/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require tablesorter.style.css
 */

/* For inline buttons */
span.btn {
	margin-top: -5px;
}


/* pushed down footer */
html,body {
	height: 100%;
}

#holder {
  min-height: 100% !important;
}


#main {
  overflow: auto;
  padding-bottom: 75px; /* this needs to be bigger than footer height*/
}

.footer {
  font-size: 80%;
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  padding: 10px 0;
  text-align: center;}

/* don't center debug dump */
pre {
  text-align: left;
}

/* Overwrite default Bootstrap-SASS sizes */
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 90% !important;
}
