// Place all the styles related to the Features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.help {
	cursor: pointer;
}

.remove-button {
	margin-top: -3px !important;
	cursor: pointer;
}

.feature-box {
	width: 85%;
}