<% provide(:title, "Features") %>
<%= will_paginate %>

<% if current_user.admin? %>
<%= link_to "New feature", '/features/new', :class=>"btn" %>
<% end %>
<br/>
<table class="features table tablesorter">
	<thead>
		<th>Feature</th>
		<th>Created by</th>
		<th>Number of targets</th>
		<th>Instructions</th>
	</thead>
  <%= render @features %>
</table>

<%= will_paginate %>
