<% provide(:title, 'Feature | ' + @feature.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>
        <%= @feature.name %>
      </h3>
      <%= render @feature.targets %>
    </section>
  </aside>
</div>
